# Supabase Configuration (PT Aetra Air Tangerang)
VITE_SUPABASE_URL="https://seemzgfxtbhaabchbkuw.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZW16Z2Z4dGJoYWFiY2hia3V3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyMTAzOTYsImV4cCI6MjEwNTc4NjM5Nn0.QX5L3AG0kR1WLEmYvGEGTYUoywqDOG4CxpjGpg8-w0o"

# Optional Keys
GEMINI_API_KEY=""
APP_URL=""
